<div class="artist-panel">
  <div class="artist-info">
    <h2><%= Artist.first.full_name %></h2>
     <p style="font-style: italic; font-weight: light;">category | category</p>
    <p style=" width: 300px; ">Carolina is a born and raised argentinien photographer, currently studying that thin in San Sebastian.
She loves cinema and photography</p>
    <p>personal link</p>
  </div>
  <div class="artist-contact">
  </div>
</div>
<div class="products">
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
  <%= render 'components/product-card' %>
</div>
<div class="reviews">
  <%= render 'components/review_card' %>
  <%= render 'components/review_card' %>
  <%= render 'components/review_card' %>
  <%= render 'components/review_card' %>
</div>
