<div class="form">
  <%= simple_form_for @product do |f| %>
    <%= f.input :title,input_html: {class: 'input-stuff' }  %>
    <%= f.input :price,input_html: {class: 'input-stuff' } %>
    <%= f.input :description,input_html: {class: 'input-stuff' } %>
    <%= f.input :location,input_html: {class: 'input-stuff' } %>
    <%= f.association :category, prompt: "Select a category", placeholder: 'Select a category', label: false, input_html: { class: "places-search" } %>
    <%= f.button :submit, class: 'submit-button'  %>
  <% end %>
</div>

